/*
Theme Name: Tati Godoy
Theme URI: http://www.tatigodoy.com.br
Author: HC Desenvolvimentos
Author URI: https://hcdesenvolvimentos.com.br;
Description: Descrção do thema.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: tatigodoy
Tags: 

--------------------------------------------
ESTRUTURAÇÃO BASE (HC Desenvolvimentos v1)
--------------------------------------------
**** DECLARAÇÃO DE VARIÁVEIS
**** BODY
**** TOPO
**** RODAPÉ
**** COPYRIGHT
**** ESTILOS GERAIS PARA AS PÁGINAS
**** PÁGINA INICIAL
**** EXTRAS
**** @MEDIA

font-family: 'Raleway', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Dancing Script', cursive;
*/
*{
  margin: 0;
  padding: 0;
}

/*DECLARAÇÃO DE VARIÁVEIS*/
  :root{
    --raleway: 'Raleway', sans-serif;
    --robotocondensed: 'Roboto Condensed', sans-serif;
    --montserrat: 'Montserrat', sans-serif;
    --cortitulobanner:  #cf325f;
    --tamanhotitulobanner: 72px;
    --shadowtitulobanner: 2px 1px 1px #000;
    --fontebanner768: 40px;
}

/* BODY */
  body{
  
  }

/* TOPO */
  .topo{
    background: #fff;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.54);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    transition: ease-out .1s;
    -webkit-transition: ease-out .1s;
    -moz-transition: ease-out .1s;
    -o-transition: ease-out .1s;
  }
    .topo a {}
      .topo a img{
        margin: 0 auto;
        max-width: 100px;
        margin-top: 9px;
        transition: ease-in .1s;
        -webkit-transition: ease-in .1s;
        -moz-transition: ease-in .1s;
        -o-transition: ease-in .1s;
      }
    .topo .navbar {
      margin: 0;
      border: none;
      border-radius: 0;
      width: 100%;
      min-height: 0;
    }
      .topo .navbar button {
        position: absolute;
        display: none;
      }
        .topo .navbar button span{}
          .topo .navbar button span.sr-only{}
          .topo .navbar button span.icon-bar{}
    .topo .navbar .navbar-header {
      width: 100%;
    }
      .topo .navbar .navbar-header .navbar-collapse {
        width: 100%;
      }
        .topo .navbar .navbar-header .navbar-collapse .navbar-nav {
         width: 100%;
         float: initial;
         text-align: right;
         font-size: 0;
        }
          .topo .navbar .navbar-header .navbar-collapse .navbar-nav li {
            display: inline-block;
            float: initial;
          }
            .topo .navbar .navbar-header .navbar-collapse .navbar-nav li a {
              text-transform: uppercase;
              font-family: var(--montserrat);
              color: #309498;
              padding: 18px 15px;
              font-size: 14px;
              transition: ease-in .1s;
              -webkit-transition: ease-in .1s;
              -moz-transition: ease-in .1s;
              -o-transition: ease-in .1s;
            }
            .topo .navbar .navbar-header .navbar-collapse .navbar-nav li a:hover{
              background: #309498;
              color: #fff;
              transition: all .3s;
              -webkit-transition: all .3s;
              -moz-transition: all .3s;
              -o-transition: all .3s;
            }
            .topo .navbar .navbar-header .navbar-collapse .navbar-nav li a:focus{
              background: #309498;
              color: #fff;
              transition: all .3s;
              -webkit-transition: all .3s;
              -moz-transition: all .3s;
              -o-transition: all .3s;
            }
  .topo.thin{
    
  }
  .topo.thin a img{
    max-width: 81px;
    margin-top: 3px;
  }
    .topo.thin .navbar .navbar-header .navbar-collapse .navbar-nav li a {
      padding: 10px 15px;
      font-size: 13px;
    }

/*RODAPÉ*/
  .rodape {
    background-color: #d7597d;
    font-family: var(--montserrat);
    color: #fff;
    padding-top: 80px;
    position: relative;
  }
  .rodape:before{
    content: "";
    width: 95%;
    max-width: 1850px;
    height: 1px;
    background: rgba(255, 255, 255, 0.48);
    display: block;
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
  }
    .rodape .sobreTatiRodape{}
      .rodape .sobreTatiRodape h2{
        font-size: 31px;
        font-weight: 500;
        width: 100%;
        padding: 0 10px;
      }
      .rodape .sobreTatiRodape .descricaoTati{
        width: 100%;
        padding: 0 10px;
        text-indent: 1.5em;
      }
        .rodape .sobreTatiRodape .descricaoTati p{
          margin: 0 0 5px;
          font-size: 15.5px;
          font-weight: 500;
        }
    .rodape .videoYoutube{
      width: 100%;
      padding: 0 23px;
    }
      .rodape .videoYoutube span{
       display: block;
       text-align: center;
       font-size: 17px;
       text-transform: uppercase;
       margin: 16px 0;
       font-weight: 500;
       position: relative;
      }
      .rodape .videoYoutube span:before{
        content: "";
        display: block;
        width: 30%;
        height: 1px;
        background: #fff;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }
      .rodape .videoYoutube span:after{
        content: "";
        display: block;
        width: 30%;
        height: 1px;
        background: #fff;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
      }
      .rodape .videoYoutube .iframeYoutube{
        width: 100%;
      }
        .rodape .videoYoutube .iframeYoutube iframe{
          width: 100%;
          height: 253px;
        }
    .rodape .pgFacebookRodape{
      text-align: center;
      margin-top: 10px;
    }
        .rodape .pgFacebookRodape .fb-page{
          width: 100%;
          height: auto;
        }
    .rodape .redesSociais{
      width: 100%;
      margin: 30px 0 30px;
    }
      .rodape .redesSociais ul{
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: center;
      }
        .rodape .redesSociais ul li{
          display: inline-block;
          width: 100%;
          max-width: 150px;
          text-transform: uppercase;
          font-family: var(--raleway);
          font-weight: 500;
          font-size: 13px;
          text-align: left;
        }
        .rodape .redesSociais ul li a {
          text-decoration: none;
          color: #fff;
        }
          .rodape .redesSociais ul li i{
            font-family: FontAwesome;
            font-style: normal;
            display: inline-block;
            width: 100%;
            max-width: 35px;
            height: 35px;
            border: 1px solid #fff;
            border-radius: 50%;
            text-align: center;
            line-height: 34px;
            margin-right: 12px;
            font-size: 15px;
          }
    .rodape .copyright{
      border-top: 1px solid rgba(255, 255, 255, 0.48);
    }
      .rodape .copyright p{
        margin: 0 auto;
        text-align: center;
        font-family: var(--montserrat);
        padding: 15px 0 15px;
        font-size: 15px;
        font-weight: 500;
      }
    .rodape .developerBy{
     text-align: right;
     position: absolute;
     bottom: 17px;
     right: 79px;
    }
      .rodape .developerBy a {
        text-decoration: none;
        color: #fff;
      }
        .rodape .developerBy a span{
          font-family: var(--robotocondensed);
          font-size: 13px;
          display: inline-block;
          padding-right: 5px;
        }
        .rodape .developerBy a figure{
          display: inline-block;
          width: 100%;
          max-width: 27px;
        } 
          .rodape .developerBy a figure img{
            width: 100%;
            height: auto;
            filter: grayscale(100%);
            -webkit-filter: grayscale(100%);
            -moz-filter: grayscale(100%);
            -o-filter: grayscale(100%);
            transition: ease-in .3s;
            -webkit-transition: ease-in .3s;
            -moz-transition: ease-in .3s;
            -o-transition: ease-in .3s;
          }
        .rodape .developerBy a:hover > figure > img {
          filter: none;
          -webkit-filter: none;
          -moz-filter: none;
          -o-filter: none;
        }        

/*COPYRIGHT*/

/*PG*/
  .pg{
    padding-top: 57px;
  }
    .pg a{
      text-decoration: none;
    }
    .pg .postHover{
      position: absolute;
      top: 100%;
      width: 100%;
      height: 100%;
      font-family: var(--montserrat);
      overflow: hidden;
      color: #fff;
      text-align: center;
      z-index: 3;
      visibility: hidden;
      transition: all .2s;
      -webkit-transition: all .2s;
      -moz-transition: all .2s;
      -o-transition: all .2s;
      padding: 0 5px;
    }
      .pg .postHover .dataPostHover{
        font-size: 13px;
        text-transform: uppercase;
        margin-top: 10px;
        display: block;
      }
      .pg .postHover  .tituloPostHover{
        margin: 0;
        font-size: 22px;
        font-weight: 400;
        margin-top: 20px;
      }
      .pg .postHover  .descricaoPostHover{
        font-size: 13px;
        margin: 0;
        padding: 15px;
        text-align: center;
        margin-top: 15px;
      }
      .pg .postHover img{
        width: 100%;
        height: auto;
        max-width: 50px;
        display: block;
        margin: 0 auto;
        margin-top: 20px;
      }
      .pg .postsDestaqueEsquerda .postHover .dataPostHover{
        font-size: 22px;
        margin-top: 110px;
      } 
      .pg .postsDestaqueEsquerda .postHover .tituloPostHover{
        font-size: 31px;
        margin: 50px 0;
      }
      .pg .postsDestaqueEsquerda  .postHover .descricaoPostHover{
        font-size: 19px;
        margin-bottom: 60px;
      }
      .pg  .postsDestaqueEsquerda  .postHover img{
        max-width: 100px;
      }
      .pg .breadcrumbs{}
      .pg .breadcrumbs ul{}
        .pg .breadcrumbs ul li {
          display: inline-block;
          padding: 0 20px;
          font-family: var(--raleway);
          font-weight: 500;
          font-size: 17px;
          position: relative;
        }
        .pg .breadcrumbs ul li a{
          color: #b6d9da;
          text-decoration: none;
        }
        .pg .breadcrumbs ul li.ativo a{
          color: #309498;
          font-weight: bold;
        }
        .pg .breadcrumbs ul li.ativo:after{
          content: "";
          display: none;
        }
        .pg .breadcrumbs ul li:after{
          content: "";
          background-image: url(../img/breadcrumb.png);
          display: block;
          width: 10px;
          height: 16px;
          background-size: cover!important;
          background-position: center!important;
          position: absolute;
          right: -5px;
          top: 5px;
        }

/*PÁGINA INICIAL*/
  .pg-inicial{}
    .pg-inicial .carrosselDestaque{
      position: relative;
    }
      .pg-inicial .carrosselDestaque button{
        border: none;
        background: transparent;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        text-align: center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 3;
        outline: none;
      }
      .pg-inicial .carrosselDestaque button.carrosselDestaqueEsquerda{
        left: 109px;
        background: url(../img/esquerdaCarrosselDestaque);
        background-size: cover!important;
        background-position: center!important;
      }
      .pg-inicial .carrosselDestaque button.carrosselDestaqueDireita{
       right: 109px;
       background: url(../img/direitaCarrosselDestaque);
       background-size: cover!important;
       background-position: center!important;
      }
      .pg-inicial .carrosselDestaque .item{}
        .pg-inicial .carrosselDestaque .item a{}
          .pg-inicial .carrosselDestaque .item a img{}
          .pg-inicial .carrosselDestaque .owl-dots{
            text-align: center;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 17px;
          }
            .pg-inicial .carrosselDestaque .owl-dot{
              display: inline-block;
              padding: 0 3px;
            }
              .pg-inicial .carrosselDestaque .owl-dot span{
                width: 20px;
                height: 20px;
                background: #fff;
                display: inline-block;
                border-radius: 50%;
                border: 4px solid #ecd4de;
              }
            .pg-inicial .carrosselDestaque .owl-dot.active span{
             background: #ecd4de;
             border: 4px solid #fff;
             border-radius: 50%;
            }
  .pg-inicial .postsPaginaInicial {
    background: url("../img/fundoinicial.png");
    background-size: cover!important;
    width: 100%;
    height: auto;
    background-attachment: fixed;
    background-position: center!important;
    padding-top: 20px;
  }
    .pg-inicial .postsPaginaInicial .categoriasPosts {
      width: 100%;
      height: auto;
      padding: 0 10px;
      padding-top: 30px;
    }
    .pg-inicial .postsPaginaInicial .categoriasPosts ul {
        vertical-align: top;
        font-size: 0;
        border-radius: 10px 10px 0 0;
        background-color: #fff;
      }
      .pg-inicial .postsPaginaInicial .categoriasPosts ul:nth-child(1):hover {
        
      }
        .pg-inicial .postsPaginaInicial .categoriasPosts ul li {
          border-bottom: 3px solid #d7597d;
          list-style: none;
          display: inline-block;
          width: 100%;
          max-width: 297px;
          position: relative;
        }
        .pg-inicial .postsPaginaInicial .categoriasPosts ul li:hover > a > h3 {
          border: 1px solid #d7597d;
          background: #d7597d;
          color: #fff;
          font-weight: 600;
          border-radius: 10px 10px 0 0;
        }
        .pg-inicial .postsPaginaInicial .categoriasPosts ul li:hover .submenu{
          display: block;
          border-bottom: 3px solid #d7597d;
          border-left: 3px solid #d7597d;
          border-right: 3px solid #d7597d;
        }
          .pg-inicial .postsPaginaInicial .categoriasPosts ul li a {
            cursor: pointer;
          }
            .pg-inicial .postsPaginaInicial .categoriasPosts ul li a h3 {
              font-family: var(--montserrat);
              font-weight: 300;
              text-transform: uppercase;
              font-size: 16px;
              color: #b2b2b2;
              padding: 7px 0;
              margin: 0;
              border: 1px solid transparent;
              text-align: center;
            }
          .pg-inicial .postsPaginaInicial .categoriasPosts ul li .submenu {
            display: none;
            position: absolute;
            z-index: 5;
            border-radius: 0;
          }
            .pg-inicial .postsPaginaInicial .categoriasPosts ul li .submenu .submenu-list {
              display: inline-block;
              list-style: none;
              border: 3px transparent;
            }
            .pg-inicial .postsPaginaInicial .categoriasPosts ul li .submenu .submenu-list:hover > a > h3{
              background-color: #d7597d;
              color: #fff;
            }
              .pg-inicial .postsPaginaInicial .categoriasPosts ul li .submenu .submenu-list a {
              
              }
                .pg-inicial .postsPaginaInicial .categoriasPosts ul li .submenu .submenu-list a h3 {
                  background-color: #fff;
                  border-radius: 0;
                }
    .pg-inicial .postsPaginaInicial .abrirMenuCategorias {
      display: none;
      text-align: center;
      margin: 0px auto;
      padding: 15px 0;
      background-color: #d7597d;
      width: 100%;
      max-width: 505px;
      border-radius: 12px;
      color: white;
      font-size: 24px;
      cursor: pointer;
    }
    .pg-inicial .postsPaginaInicial .abrirMenuCategorias:hover{
      background-color: #ff92b1;
      -webkit-transition: .2s;
      -o-transition: .2s;
      transition: .2s;
    }
    .pg-inicial .postsPaginaInicial .menuCategoriasMobile{
      width: 100%;
      margin: 0 auto;
      background: #d7597d;
      padding: 1px 15px;
      position: fixed;
      top: 40px;
      left: -100%;
      z-index: 9999;
      height: 100vh;
      transition: All 1s ease;
      -webkit-transition: All 1s ease;
      -moz-transition: All 1s ease;
      -o-transition: All 1s ease;
    }
    .pg-inicial .postsPaginaInicial .menuCategoriasMobile.abrir {
      -webkit-transition: all 1s ease;
      -o-transition: all 1s ease;
      transition: all 1s ease;
      left: 0;
    }
      .pg-inicial .postsPaginaInicial .menuCategoriasMobile .fechar{
        font-size: 25px;
        float: right;
        color: #fff;
        cursor: pointer;
      }
      .pg-inicial .postsPaginaInicial .menuCategoriasMobile .titulo{
        font-size: 20px;
        color: #fff;
      }
        .pg-inicial .postsPaginaInicial .menuCategoriasMobile ul{

        }
          .pg-inicial .postsPaginaInicial .menuCategoriasMobile ul li{
            list-style: none;
            padding: 1px 10px;
            border-left: 2px solid transparent;
          }
          .pg-inicial .postsPaginaInicial .menuCategoriasMobile ul li:hover .submenu {
            display: block;
          }
          .pg-inicial .postsPaginaInicial .menuCategoriasMobile ul li:hover {
            background-color: #ff92b1;
            border-left: 2px solid #fff;
          }
            .pg-inicial .postsPaginaInicial .menuCategoriasMobile ul li a{
              text-decoration: none;
              color: #fff;
            }
            .pg-inicial .postsPaginaInicial .menuCategoriasMobile ul li a h3{
              margin: 8px auto;
            }
            .pg-inicial .postsPaginaInicial .menuCategoriasMobile ul li .submenu{
              display: none;
            }
              .pg-inicial .postsPaginaInicial .menuCategoriasMobile ul li .submenu .submenu-list {
                list-style: none;
                width: 100%;
                padding: 5px 28px;
                border-left: 2px solid transparent;
              }
              .pg-inicial .postsPaginaInicial .menuCategoriasMobile ul li .submenu .submenu-list:hover {
                background-color: #d7597d;
                border-left: 2px solid #fff;
              }
                .pg-inicial .postsPaginaInicial .menuCategoriasMobile ul li .submenu .submenu-list a{
                  text-decoration: none;
                  color: #fff;
                }
                  .pg-inicial .postsPaginaInicial .menuCategoriasMobile ul li .submenu .submenu-list a h3{

                  }
    .pg .listaDePosts{
      width: 100%;
      margin-top: 20px;
    }
      .pg .listaDePosts .postsDestaqueEsquerda{
        width: 100%;
      }
        .pg .listaDePosts .postsDestaqueEsquerda ul{
          font-size: 0;
          margin: 0;
          padding: 0;
          list-style: none;
        }
          .pg .listaDePosts .postsDestaqueEsquerda ul li{
            display: block;
            width: 100%;
            padding: 0 20px;
            margin-bottom: 50px;
            overflow: hidden;
          }
            .pg .listaDePosts .postsDestaqueEsquerda ul li article{
              position: relative;
            }
            .pg .listaDePosts .postsDestaqueEsquerda ul li article a:hover > .postHover{
              top: 0;
              transition: all .2s;
              visibility: visible;
            }
            .pg .listaDePosts .postsDestaqueEsquerda ul li article a:hover > .informacoesPostDestaque{
              bottom: -100%;
              transition: all .2s;
            }
              .pg .listaDePosts .postsDestaqueEsquerda ul li article .imagemPostDestaque{
                width: 100%;
                background-size: cover!important;
                background-position: center!important;
                min-height: 711px;
              }
                .pg .listaDePosts .postsDestaqueEsquerda ul li article .imagemPostDestaque img{
                  width: 100%;
                  height: auto;
                  visibility: hidden;
                }
            .pg .listaDePosts .postsDestaqueEsquerda ul li article .informacoesPostDestaque{
              width: 100%;
              background-color: rgba(215, 89, 125, 0.65);
              position: absolute;
              bottom: 0;
            }
            .pg .listaDePosts .postsDestaqueEsquerda ul li article .informacoesPostDestaque.cat-limpeza{
              background-color: rgba(227, 123, 63, 0.66);
            }
              .pg .listaDePosts .postsDestaqueEsquerda ul li article .informacoesPostDestaque .iconePostDestaque{
                width: 100%;
                margin: 0 auto;
                position: absolute;
                top: 81px;
                left: 50%;
                transform: translate(-50%,-50%);
              }
                .pg .listaDePosts .postsDestaqueEsquerda ul li article .informacoesPostDestaque .iconePostDestaque img{    width: 100%;
                  width: 100%;
                  height: auto;
                  max-width: 80px;
                  display: block;
                  margin: 0 auto;
                }
              .pg .listaDePosts .postsDestaqueEsquerda ul li article .informacoesPostDestaque .detalhesPostDestaque{
                color: #fff;
                font-family: var(--montserrat);
                padding: 0 20px;
              }
                .pg .listaDePosts .postsDestaqueEsquerda ul li article .informacoesPostDestaque .detalhesPostDestaque h1.tituloPostDestaque{
                  font-size: 23px;
                  font-weight: lighter;
                  margin: 0;
                  padding-top: 19px;
                }
                  .pg .listaDePosts .postsDestaqueEsquerda ul li article .informacoesPostDestaque .detalhesPostDestaque h4.dataPostDestaque{
                    font-size: 13px;
                    text-transform: uppercase;
                    font-weight: 100;
                    margin: 0;
                    margin-bottom: 15px;
                  }
                  .pg .listaDePosts .postsDestaqueEsquerda ul li article .informacoesPostDestaque .detalhesPostDestaque p.descricaoPostDestaque{
                   font-size: 13px;
                   font-weight: lighter;
                  }
      .pg .listaDePosts .listaDePostsDireita{}
        .pg .listaDePosts .listaDePostsDireita ul{
          list-style: none;
          margin: 0;
          padding: 0;
          font-size: 0;
        }
          .pg .listaDePosts .listaDePostsDireita ul li{
           display: inline-block;
           width: 50%;
           padding: 0 20px 0px;
           height: auto;
           max-width: 481px;
           margin-bottom: 50px;
           overflow: hidden;
          }
            .pg .listaDePosts .listaDePostsDireita ul li article{
              padding: 0;
              position: relative;
              width: 100%;
            }
              .pg .listaDePosts .listaDePostsDireita ul li article a .imagemDestaquePost{
               width: 100%;
               background-size: cover!important;
               background-position: center!important;
               min-height: 330.5px;
              }
              .pg .listaDePosts .listaDePostsDireita ul li article a:hover > .postHover{
                top: 0;
                transition: all .2s;
                visibility: visible;
              }
              .pg .listaDePosts .listaDePostsDireita ul li article a:hover > .informacoesPost {
                bottom: -100%;
                transition: all .2s;
              }
                .pg .listaDePosts .listaDePostsDireita ul li article .imagemDestaquePost img{
                  visibility: hidden;
                  width: 100%;
                  height: auto;
                }
                .pg .listaDePosts .listaDePostsDireita ul li article .informacoesPost{
                  position: absolute;
                  z-index: 2;
                  background: rgba(158, 155, 37, 0.73);
                  width: 100%;
                  bottom: 0;
                }
                  .pg .listaDePosts .listaDePostsDireita ul li article .informacoesPost .iconePost{
                    position: relative;
                  }
                    .pg .listaDePosts .listaDePostsDireita ul li article .informacoesPost .iconePost img{
                      width: 100%;
                      height: auto;
                      max-width: 50px;
                      margin: 0 auto;
                      display: block;
                      position: absolute;
                      top: 40px;
                      left: 20px;
                    }
                  .pg .listaDePosts .listaDePostsDireita ul li article .informacoesPost .detalhesPost{
                    width: 100%;
                    padding: 0px 10px 10px;
                    color: #fff;
                    font-family: var(--montserrat);
                    padding-top: 11px;
                  }
                    .pg .listaDePosts .listaDePostsDireita ul li article .informacoesPost .detalhesPost h1.tituloPost{
                      font-size: 15px;
                      margin: 0;
                      font-weight: lighter;
                      line-height: 17px;
                    }
                    .pg .listaDePosts .listaDePostsDireita ul li article .informacoesPost .detalhesPost h4.dataPost{
                      font-size: 9px;
                      margin: 4px auto;
                      font-weight: lighter;
                      text-transform: uppercase;
                    }
                    .pg .listaDePosts .listaDePostsDireita ul li article .informacoesPost .detalhesPost p.descricaoPost{
                      font-size: 10px;
                      margin: 10px 0 4px 0;
                    }
      .pg-inicial  .listaDePosts .verMaisPosts{
        padding-bottom: 30px;
      }
        .pg-inicial .listaDePosts .verMaisPosts span.vermais{
          display: block;
          text-transform: uppercase;
          padding: 12px 23px;
          border: 1px solid #309498;
          color: #309498;
          text-align: center;
          margin: 20px auto;
          max-width: 200px;
          font-size: 16px;
          cursor: pointer;
          transition:ease-in-out .4s;
          -webkit-transition:ease-in-out .4s;
          -moz-transition:ease-in-out .4s;
          -o-transition:ease-in-out .4s;
        }
        .pg-inicial .listaDePosts .verMaisPosts span.vermais:hover{
          color: #fff;
          background: #309498;
        }
  #instafeed{
    text-align: center;
  }
  .pg-inicial  .instagramFeed{
    padding-bottom: 50px;
  }
    .pg-inicial  .instagramFeed h2{
      text-align: center;
      font-family: var(--montserrat);
      text-transform: uppercase;
      color: #309498;
      font-weight: 500;
      position: relative;
    }
    .pg-inicial  .instagramFeed h2:before{
      content: "";
      display: block;
      width: 26%;
      background: #309498;
      height: 1px;
      position: absolute;
      left: 0%;
      top: 50%;
      transform: translateY(-50%);
    }
    .pg-inicial  .instagramFeed h2:after{
     content: "";
     display: block;
     width: 26%;
     background: #309498;
     height: 1px;
     position: absolute;
     right: 0%;
     top: 50%;
     transform: translateY(-50%);
     transform: translateY(-50%);
    }
    .pg-inicial  .instagramFeed .imagensInstagram{}
      .pg-inicial  .instagramFeed .imagensInstagram img{
        width: 100%;
        height: auto;
      }

    .pg-inicial  .instagramFeed a{
      padding: 5px;
      display: inline-block;
      width: 100%;
      max-width: 230px;
      height: 230px;
    }
      .pg-inicial  .instagramFeed a .itemInstagram{
        width: 100%;
        height: 100%;
        display: inline-block;
        background-size: cover!important;
        position: relative;
        /* margin: 10px 10px; */
        background-position: center !important;
      }
      .pg-inicial  .instagramFeed a .itemInstagram::before{
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        -webkit-transition: ease-in-out .1s;
        -o-transition: ease-in-out .1s;
        transition: ease-in-out .1s;
      }
      .pg-inicial  .instagramFeed a:hover .itemInstagram::before{
        background: rgb(0,0,0,0.37);
        width: 100%;
        height: 100%;
      }
        .pg-inicial  .instagramFeed a .itemInstagram .likeComments{
          position: absolute;
          display: block;
          top: 0;
          z-index: 9999999;
          text-align: center;
          width: 100%;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%);
          -webkit-transition: ease-in-out .1s;
          -o-transition: ease-in-out .1s;
          transition: ease-in-out .1s;
        }
          .pg-inicial  .instagramFeed a .itemInstagram .likeComments span{
            
          }
          .pg-inicial  .instagramFeed a .itemInstagram .likeComments .likes{
            position: relative;
            opacity: 0;
            font-size: 18px;
            display: inline-block;
            margin: 0 10px;
            color: #fff;
            font-weight: 600;
          }
          .pg-inicial  .instagramFeed a .itemInstagram .likeComments .likes::before{
            content: " ";
            display: inline-block;
            background: url(../img/like.png);
            width: 15px;
            height: 13px;
            background-position: center!important;
            background-size: cover!important;
            background-repeat: no-repeat!important;
            margin: 0 auto;
            margin-right: 6px;
          }
          .pg-inicial  .instagramFeed a:hover .itemInstagram .likeComments .likes{
            opacity: 1;
          }
          .pg-inicial  .instagramFeed a .itemInstagram .likeComments .comments{
            position: relative;
            opacity: 0;
            font-size: 18px;
            display: inline-block;
            margin: 0 10px;
            color: #fff;
            font-weight: 600;
          }
          .pg-inicial  .instagramFeed a .itemInstagram .likeComments .comments::before{
            content: " ";
            display: inline-block;
            background: url(../img/chat.png);
            width: 15px;
            height: 13px;
            background-position: center!important;
            background-size: cover!important;
            background-repeat: no-repeat!important;
            margin: 0 auto;
            margin-right: 6px;
          }
          .pg-inicial  .instagramFeed a:hover .itemInstagram .likeComments .comments{
            opacity: 1;
          }

/*PÁGINA DE POST*/
  .pg-post {
    background-image: url(../img/fundopgpost.png);
    background-position: center!important;
    background-size: cover!important;
  }
    
    .pg-post .conteudoPost{
      padding: 0 12px;
    }
      .pg-post .conteudoPost .tituloPost{}
        .pg-post .conteudoPost .tituloPost h1{
          font-family: var(--montserrat);
          text-transform: uppercase;
          font-weight: 400;
          text-align: center;
          font-size: 30px;
          margin-bottom: 3px;
        }
        .pg-post .conteudoPost .tituloPost h3.dataPost{
          text-align: center;
          font-size: 21px;
          font-family: var(--montserrat);
          font-weight: 100;
          margin: 0;
          margin-bottom: 30px;
        }
      .pg-post .conteudoPost .bannerPost{
        width: 100%;
        margin-bottom: 40px;
      }
        .pg-post .conteudoPost .bannerPost img{
          width: 100%;
          height: auto;
        }
    .pg-post .conteudoPost p{
      font-family: var(--montserrat);
      font-weight: 100;
      font-size: 18px;
    }
    .pg-post .conteudoPost strong{
      font-weight: 600;
    }
    .pg-post .conteudoPost img{
      width: auto;
      height: auto;
      margin: 25px 0;
      max-width: 100%;
    }
    .pg .sidebarPost{
      width: 100%;
      padding: 0 25px;
      font-family: var(--montserrat);
    }
      .pg .sidebarPost .autorPost{
        width: 100%;
        text-align: center;
        color: #309498;
      }
        .pg .sidebarPost .autorPost span{
          display: block;
          text-transform: uppercase;
          padding: 7px 20px;
          border: 1px solid #309498;
          color: #309498;
          text-align: center;
          margin: 20px 0;
        }
          .pg .sidebarPost .autorPost .imagemAutor{}
            .pg .sidebarPost .autorPost .imagemAutor img{
              width: 100%;
              height: auto;
            }
          .pg .sidebarPost .autorPost h3.nomeAutor{
           font-family: var(--montserrat);
           font-size: 21px;
           position: relative;
           margin-bottom: 25px;
          }
          .pg .sidebarPost .autorPost h3.nomeAutor:before{
            content: '';
            display: block;
            width: 80px;
            background-color: #309498;
            height: 1.3px;
            position: absolute;
            bottom: -7px;
            left: 50%;
            transform: translateX(-50%);
          }
          .pg .sidebarPost .autorPost p.descricaoAutor{
              font-weight: 500;
          }
      .pg .sidebarPost .estanteVirtual{
        margin: 10px 0;
      }
        .pg .sidebarPost .estanteVirtual a{
          text-decoration: none;
        }
          .pg .sidebarPost .estanteVirtual a figure{}
            .pg .sidebarPost .estanteVirtual a figure img{
              width: 100%;
              height: auto;
            }
      .pg .sidebarPost .inscrevaSeCurso{
            margin: 5px 0;
      }
        .pg .sidebarPost .inscrevaSeCurso a{
          text-decoration: none;
        }
          .pg .sidebarPost .inscrevaSeCurso a figure{}
            .pg .sidebarPost .inscrevaSeCurso a figure img{
              width: 100%;
              height: auto;
            }
      .pg .sidebarPost .youtubePost{}
        .pg .sidebarPost .youtubePost span {
          display: block;
          text-transform: uppercase;
          padding: 7px 20px;
          border: 1px solid #309498;
          color: #309498;
          text-align: center;
          margin: 20px 0;
        }
          .pg .sidebarPost .youtubePost span .g-ytsubscribe{}
      .pg .sidebarPost .facebookPost{
        width: 100%;
      }
        .pg .sidebarPost .facebookPost span.curtaPagina {
          display: block;
          text-transform: uppercase;
          padding: 7px 20px;
          border: 1px solid #309498;
          color: #309498;
          text-align: center;
          margin: 20px 0;
        }
          .pg .sidebarPost .facebookPost span .fb-page{}
      .pg .sidebarPost .instagramSidebar{}
        .pg .sidebarPost .instagramSidebar span{
          display: block;
          text-transform: uppercase;
          padding: 7px 20px;
          border: 1px solid #309498;
          color: #309498;
          text-align: center;
          margin: 20px 0;
        }
          .pg .sidebarPost .instagramSidebar figure{}
            .pg .sidebarPost .instagramSidebar figure img{
              width: 100%;
              height: auto;
            }
      .pg .sidebarPost .postRelacionado{}
        .pg .sidebarPost .postRelacionado span{
          display: block;
          text-transform: uppercase;
          padding: 7px 20px;
          border: 1px solid #309498;
          color: #309498;
          text-align: center;
          margin: 20px 0;
        }
        .pg .sidebarPost .postRelacionado article{
          position: relative
        }
          .pg .sidebarPost .postRelacionado article a {

          }
          .pg .sidebarPost .postRelacionado article a figure{}
            .pg .sidebarPost .postRelacionado article a figure img{
              width: 100%;
              height: auto;
            }
        .pg .sidebarPost .postRelacionado article a h1.tituloPostRelacionado{
          font-family: var(--montserrat);
          font-size: 15px;
          text-align: center;
          width: 100%;
          margin: 0 auto;
          padding: 5px 30px;
          background-color: rgba(0, 0, 0, 0.53);
          position: absolute;
          bottom: 0;
          color: #fff;
        }       
    .pg-post .disqus{}

/*PÁGINA DE CATEGORIA*/
  .pg-categoria {
    background: url(../img/fundopgcategoria.png);
    background-size: cover!important;
  }
    .pg-categoria .bannerCategoria {
      width: 100%;
      min-height: 548px;

      background-size: cover!important;
      z-index: 3;
      position: relative;
    }
    .pg-categoria .postsCategoria {

    }
      .pg-categoria .postsCategoria h3{
        text-align: center;
        font-family: var(--raleway);
        font-size: 39px;
        color: #309498;
        position: relative;
        margin-bottom: 70px;
        text-transform: uppercase;
        margin-top: 50px;
      }
      .pg-categoria .postsCategoria h3:before{
        content: "";
        display: block;
        width: 100%;
        max-width: 200px;
        height: 4px;
        background: #d7597d;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -18px;
      } 
      .pg-categoria .postsCategoria h3:after{
        content: "";
        display: block;
        width: 100%;
        max-width: 100px;
        height: 2px;
        background: #d7597d;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -29px;
      }
      .pg-categoria .bannerCategoria h2.nomeCategoria {
        margin: 0;
        color: var(--cortitulobanner);
        font-family: var(--raleway);
        font-weight: bold;
        font-size: var(--tamanhotitulobanner);
        width: 100%;
        max-width: 500px;
        text-align: center;
        position: absolute;
        bottom: 20%;
        text-shadow: var(--shadowtitulobanner);
      }
    
      .pg-categoria .listaDePosts .verMaisPosts {}
        .pg-categoria .listaDePosts .verMaisPosts span.vermais {
          display: block;
          text-transform: uppercase;
          padding: 12px 23px;
          border: 1px solid #309498;
          color: #309498;
          text-align: center;
          margin: 20px auto 40px;
          max-width: 200px;
          font-size: 16px;
          cursor: pointer;
          transition: ease-in .2s;
          -webkit-transition: ease-in .2s;
          -moz-transition: ease-in .2s;
          -o-transition: ease-in .2s;
        }
        .pg-categoria .listaDePosts .verMaisPosts span.vermais:hover{
          color: #fff;
          background: #309498;
        }
    .pg-categoria .newsLetter {
      background-color: #d7597d;
      font-family: var(--montserrat);
      color: #fff;
      text-align: center;
      padding-bottom: 20px;
    }
      .pg-categoria .newsLetter h4 {
       margin: 0;
       font-size: 32px;
       padding: 30px 0 0;
       text-transform: uppercase;
      }
      .pg-categoria .newsLetter p {
       margin: 0;
       font-size: 21px;
       font-weight: 400;
      }
      .pg-categoria .newsLetter input::-webkit-input-placeholder{
        color: #fff;
      }
      .pg-categoria .newsLetter input:-moz-placeholder{
        color: #fff;
      }
      .pg-categoria .newsLetter input::-moz-placeholder{
        color: #fff;
      }
      .pg-categoria .newsLetter input {
        border: none;
        outline: none;
        background: transparent;
        color: #fff;
        margin: 0;
        margin-top: 30px;
      }
      .pg-categoria .newsLetter input[type="text"] {
        border: 2px solid #e2edf9;
        width: 100%;
        max-width: 604px;
        padding: 10px 15px;
        border-radius: 5px;
        text-transform: uppercase;
        font-size: 21px;
        color: #fff;
        z-index: 2;
      }
      .pg-categoria .newsLetter input[type="submit"] {
        background: #e2edf9;
        padding: 11px 40px;
        margin-left: -8px;
        border-radius: 3px;
        color: #d7597d;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 21px;
        border: 1px solid #e2edf9;
        z-index: 1;
      }

/*PÁGINA DE BUSCA*/
  .pg-busca
    .pg-busca .breadcrumbs{
      padding-top: 30px;
    }
      .pg-busca .breadcrumbs ul{}
        .pg-busca .breadcrumbs ul li{}
    .pg-busca .resultadosBusca{}
      .pg-busca .resultadosBusca h3{
        text-align: center;
        font-family: var(--raleway);
        font-size: 39px;
        color: #309498;
        position: relative;
        margin-bottom: 70px;
        text-transform: uppercase;
        margin-top: 50px;
      }
      .pg-busca .resultadosBusca h3:before{
        content: "";
        display: block;
        width: 100%;
        max-width: 200px;
        height: 4px;
        background: #d7597d;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -18px;
      }
      .pg-busca .resultadosBusca h3:after{
        content: "";
        display: block;
        width: 100%;
        max-width: 100px;
        height: 2px;
        background: #d7597d;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -29px;
      }
      .pg-busca .resultadosBusca .postsEncontrados{}
        .pg-busca .resultadosBusca .postsEncontrados ul{
          list-style: none;
          margin: 0;
          padding: 0;
          font-size: 0;
        }
          .pg-busca .resultadosBusca .postsEncontrados ul li{
            display: inline-block;
            width: 33%;
            padding: 0 20px 0px;
            height: auto;
            max-width: 481px;
            margin-bottom: 50px;
            overflow: hidden;
          }
            .pg-busca .resultadosBusca .postsEncontrados ul li article{
              padding: 0;
              position: relative;
              width: 100%;
            }
            .pg-busca .resultadosBusca .postsEncontrados ul li article a:hover > .postHover{
              top: 0;
              transition: all .2s;
              visibility: visible;
            }
            .pg-busca .resultadosBusca .postsEncontrados ul li article a:hover > .informacoesPost {
              bottom: -100%;
              transition: all .2s;
            }
              .pg-busca .resultadosBusca .postsEncontrados ul li article figure.imagemDestaquePost{
                width: 100%;
                background-size: cover!important;
                background-position: center!important;
                min-height: 330.5px;
              }
                .pg-busca .resultadosBusca .postsEncontrados ul li article figure.imagemDestaquePost img{
                  visibility: hidden;
                  width: 100%;
                  height: auto;
                }
            .pg-busca .resultadosBusca .postsEncontrados ul li article .informacoesPost{
              position: absolute;
              z-index: 2;
              width: 100%;
              bottom: 0;
            }
              .pg-busca .resultadosBusca .postsEncontrados ul li article .informacoesPost .iconePost{
                position: relative;
              }
                .pg-busca .resultadosBusca .postsEncontrados ul li article .informacoesPost .iconePost img{
                  width: 100%;
                  height: auto;
                  max-width: 50px;
                  margin: 0 auto;
                  display: block;
                  position: absolute;
                  top: 40px;
                  left: 20px;
                }
            .pg-busca .resultadosBusca .postsEncontrados ul li article .informacoesPost .detalhesPost{
              width: 100%;
              padding: 0px 10px 10px;
              color: #fff;
              font-family: var(--montserrat);
              padding-top: 11px;
            }
              .pg-busca .resultadosBusca .postsEncontrados ul li article .informacoesPost .detalhesPost h1.tituloPost{
                font-size: 15px;
                margin: 0;
                font-weight: lighter;
                line-height: 17px;
              }
              .pg-busca .resultadosBusca .postsEncontrados ul li article .informacoesPost .detalhesPost h4.dataPost{
                font-size: 9px;
                margin: 4px auto;
                font-weight: lighter;
                text-transform: uppercase;
              }
              .pg-busca .resultadosBusca .postsEncontrados ul li article .informacoesPost .detalhesPost p.descricaoPost{
                font-size: 10px;
                margin: 10px 0 4px 0;
              }

/*PÁGINA SOBRE*/
  .pg-sobre{
    background: url(../img/fundoquemsoueu.png);
    background-size: cover!important;
  }
    .pg-sobre .carrosselSobre {
      padding: 0px 15px;
      margin-top: 10px;
      position: relative;
    }
    .pg-sobre .carrosselSobre:before{
      content: "";
      display: block;
      width: 100%;
      max-width: 156px;
      height: 50px;
      background: #309498;
      position: absolute;
      bottom: -23px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;
    }
      .pg-sobre .carrosselSobre .carrosselSobreTati{}
        .pg-sobre .carrosselSobre .carrosselSobreTati .item{}
          .pg-sobre .carrosselSobre .carrosselSobreTati .item a{}
          .pg-sobre .carrosselSobre .carrosselSobreTati .item a:before{
            content: "";
            background: rgba(215, 89, 125, 0.78);
            width: 100%;
            height: 100%;
            display: block;
            z-index: 2;
            position: absolute;
          }
        
          .pg-sobre .carrosselSobre .carrosselSobreTati .center .item a:before{
            content: "";
            visibility: hidden;
          }
            .pg-sobre .carrosselSobre .carrosselSobreTati .item a img{}
          
    .pg-sobre .conteudoSobre{
      padding: 0px 15px;
    }
      .pg-sobre .conteudoSobre h2.titulo{
        font-family: var(--raleway);
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 4px;
        color: #309498;
        font-weight: bold;
        font-size: 40px;
        border-bottom: 2px solid #309498;
        width: 100%;
        max-width: 500px;
        margin: 40px auto;
        padding-bottom: 30px;
      }
      .pg-sobre .conteudoSobre p{
        font-family: var(--raleway);
        font-size: 20px;
      }
      .pg-sobre .conteudoSobre img{
        width: auto;
        height: auto;
        margin: 30px 0;
        max-width: 100%;
      }
    .pg-sobre .entreEmContato{}
      .pg-sobre .entreEmContato p{
        width: 100%;
        max-width: 440px;
        margin: 0 auto;
        text-align: center;
        font-family: var(--raleway);
        font-size: 36px;
        font-weight: 500;
        margin-bottom: 30px;
        margin-top: 60px;
        position: relative;
      }
        .pg-sobre .entreEmContato p:before{
          content: "";
          display: block;
          width: 100%;
          max-width: 324px;
          height: 2px;
          background: #309498;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          top: -18px;
        }
        .pg-sobre .entreEmContato a{
          text-decoration: none;
          font-weight: bold;
          color: #000;
        }

/*PÁGINA 404*/
  .pg-404{
    position: relative;
  }
      .pg-404 img{
        width: 100%;
        height: auto;
      }
    .pg-404 a.voltarHome{
      display: inline-block;
      min-height: 60px;
      border: 4px solid #fff;
      text-align: center;
      font-size: 35px;
      padding: 25px 40px;
      color: #Fff;
      font-family: var(--robotoslab);
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 17%;
      transition: all .4s;
      -webkit-transition: all .4s;
      -moz-transition: all .4s;
      -o-transition: all .4s;
    }
    .pg-404 a.voltarHome:hover{
      box-shadow: 1px 1px 31px 1px #FFF;
      transition: all .4s;
      -webkit-transition: all .4s;
      -moz-transition: all .4s;
      -o-transition: all .4s;
    }

/*PÁGINA INSCRICAO*/
  .pg-inscricao{
    position: relative;
  }
    .pg-inscricao .bannerInscricao{
      width: 100%;
      min-height: 548px;
      background: url(../img/bannerInscricao.png);
      background-size: cover!important;
      z-index: 3;
      position: relative;
    }
      .pg-inscricao .bannerInscricao h2.titulo{
        margin: 0;
        color: var(--cortitulobanner);
        font-family: var(--raleway);
        font-weight: bold;
        font-size: var(--tamanhotitulobanner);
        width: 100%;
        max-width: 500px;
        text-align: center;
        position: absolute;
        bottom: 20%;
        text-shadow: var(--shadowtitulobanner);
      }
    .pg-inscricao .descricaoCurso{
      background: url(../img/fundoInscricao.png);
      background-size: cover!important;
      width: 100%;
      min-height: 775px;
      z-index: 1;
      margin-top: -81px;
      margin-bottom: -33px;
      padding: 140px 55px 0 55px;
      font-family: var(--raleway);
    }
      .pg-inscricao .descricaoCurso h2.titulo{
        margin-bottom: 0;
        font-size: 50px;
      }
      .pg-inscricao .descricaoCurso h3.subtitulo{
        margin-top: 0;
        font-size: 30px;
        margin-bottom: 40px;
      }
      .pg-inscricao .descricaoCurso p{
        font-size: 18px;
      }
        .pg-inscricao .descricaoCurso p a{}
    .pg-inscricao .descricaoCurso .formularioInscricao{
      width: 100%;
    }
      .pg-inscricao .descricaoCurso .formularioInscricao label{
        font-family: var(--raleway);
        font-weight: 500;
        font-size: 30px;
        color: #727272;
        display: block;
        width: 93%;
        margin: 18px 0;
      }
      .pg-inscricao .descricaoCurso .formularioInscricao input{}
      .pg-inscricao .descricaoCurso .formularioInscricao input[type="text"]{
        display: block;
        width: 93%;
        height: 40px;
        padding: 5px 10px;
        font-style: italic;
        color: #727272;
        font-size: 16px;
        border: 1.3px solid #c05674;
        background: #f0f0f0;
      }
      .pg-inscricao .descricaoCurso .formularioInscricao input[type="submit"]{
        outline: none;
        background: #c05674;
        color: #fff;
        font-family: var(--raleway);
        text-transform: uppercase;
        padding: 6px 26px;
        font-size: 24px;
        margin: 20px 0 45px;
        letter-spacing: 1px;
        border: 1px solid #c05674;
        transition: ease-in .3s;
        -webkit-transition: ease-in .3s;
        -moz-transition: ease-in .3s;
        -o-transition: ease-in .3s;
      }
      .pg-inscricao .descricaoCurso .formularioInscricao input[type="submit"]:hover{
        border: 1px solid #c05674;
        color: #c05674;
        background: #fff;

      }

/*PÁGINA DEPOIMENTOS*/
  .pg-depoimentos{}
    .pg-depoimentos .bannerDepoimentos{
      width: 100%;
      position: relative;
      overflow: hidden;
      max-width: 1920px;
      height: 595px;
    }
      .pg-depoimentos .bannerDepoimentos .fundoDepoimentos{
        display: block;
        position: absolute;
        width: 100%;
        height: 180%;
        top: -228px;
        left: 0;
        z-index: 2;
      }
        .pg-depoimentos .bannerDepoimentos .fundoDepoimentos source{}
      .pg-depoimentos .bannerDepoimentos h2{
        position: relative;
        z-index: 3;
        color: var(--cortitulobanner);
        font-family: var(--raleway);
        font-weight: bold;
        font-size: var(--tamanhotitulobanner);
        width: 100%;
        max-width: 880px;
        padding: 0 50px;
        bottom: -66%;
        text-shadow: var(--shadowtitulobanner);
      }
      .pg-depoimentos .bannerDepoimentos:before{
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        background: rgba(255, 255, 255, 0.34901960784313724);
        z-index: 3;
      }
    .pg-depoimentos .depoimentos{
      padding-top: 80px;
      background: url(../img/fundodepoimentos.png);
      background-size: cover!important;
      margin-top: -70px;
      position: relative;
      z-index: 4;
      margin-bottom: -33px;
      padding-bottom: 100px;
    }
    .pg-depoimentos .depoimentos .bordaInferiorDepoimentos{
      display: block;
      width: 100%;
      max-width: 250px;
      height: 2px;
      background: #309498;
      margin: 50px auto 0px;
    }
    .pg-depoimentos .depoimentos:before{
      content: "";
    }
      .pg-depoimentos .depoimentos h3{
        text-align: center;
        font-size: 42px;
        font-weight: 500;
        margin-top: 0;
      }
      .pg-depoimentos .depoimentos h6{
        font-size: 23px;
        text-align: center;
        font-weight: 500;
        position: relative;
      }
      .pg-depoimentos .depoimentos h6:before{
        content: "";
        display: block;
        width: 250px;
        height: 2px;
        background: #309498;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        bottom: -20px;
      }
      .pg-depoimentos .depoimentos .textoDepoimentos{
        margin-top: 70px;
      }
        .pg-depoimentos .depoimentos .textoDepoimentos h1.tituloDepoimento{
          font-family: var(--raleway);
          color: var(--cortitulobanner);
          font-weight: 600;
          font-size: 42px;
          position: relative;
          padding-bottom: 30px;
        }
        .pg-depoimentos .depoimentos .textoDepoimentos h1.tituloDepoimento:before{
         content: "";
         display: block;
         width: 100%;
         max-width: 260px;
         height: 6px;
         background: #d7597d;
         position: absolute;
         bottom: 17px;
        }
        .pg-depoimentos .depoimentos .textoDepoimentos h1.tituloDepoimento:after{
          content: "";
          display: block;
          width: 100%;
          max-width: 130px;
          height: 3px;
          background: #d7597d;
          position: absolute;
          bottom: 4px;
        }
        .pg-depoimentos .depoimentos .textoDepoimentos p.conteudoDepoimento{
          font-family: var(--raleway);
          font-size: 18px;
          margin-top: 30px;
          font-weight: 500;
        }
        .pg-depoimentos .depoimentos .videoYoutube{
          margin-top: 70px;
          width: 100%;
          text-align: center;
        }
        .pg-depoimentos .depoimentos .videoYoutube:before{
          content: "";
        }
          .pg-depoimentos .depoimentos .videoYoutube iframe{
            width: 90%;
            margin: 0 auto;
          }

/*PÁGINA ESTANTE VIRTUAL*/
  .pg-estanteVirtual{
    background-color: #f0f0f0;
    padding-bottom: 50px;
  }
    .pg-estanteVirtual .estanteVirtual{
      width: 100%;
      border-bottom: 5px solid #97c5c7;
      padding-bottom: 60px;
      position: relative;
      padding-top: 50px;
    }
      .pg-estanteVirtual .estanteVirtual button{
        border: none;
        outline: none;
        background: transparent;
        z-index: 2;
      }
        .pg-estanteVirtual .estanteVirtual button i {
          font-family: FontAwesome;
          font-style: normal;
          font-size: 60px;
          color: #ecd4de;
        }
      .pg-estanteVirtual .estanteVirtual button.esquerdaCarrosselEstante{
        position: absolute;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
      }
      .pg-estanteVirtual .estanteVirtual button.direitaCarrosselEstante{
        right: 20px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
      .pg-estanteVirtual .estanteVirtual #carrosselEstante{
        width: 80%;
        margin: 0 auto;
      }
        .pg-estanteVirtual .estanteVirtual #carrosselEstante .item{}
          .pg-estanteVirtual .estanteVirtual #carrosselEstante .item a{}
            .pg-estanteVirtual .estanteVirtual #carrosselEstante .item a img{}
    .pg-estanteVirtual .ebooksGratis{
      width: 100%;
      border-bottom: 5px solid #97c5c7;
      padding-bottom: 60px;
      position: relative;
    }
      .pg-estanteVirtual .ebooksGratis h1{
        font-family: var(--raleway);
        font-style: italic;
        color: #727272;
        font-size: 25px;
        margin: 30px 0 20px;
      }
      .pg-estanteVirtual .ebooksGratis button{
        background: #a99a98;
        border: none;
        outline: none;
        width: 50px;
        height: 55px;
        text-align: center;
        position: absolute;
        z-index: 2;
      }
        .pg-estanteVirtual .ebooksGratis button i{
          font-family: FontAwesome;
          font-style: normal;
          font-size: 60px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          color: #f0f0f0;
        }
      .pg-estanteVirtual .ebooksGratis button.esquerdaCarrosselEbooks{
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
      }
      .pg-estanteVirtual .ebooksGratis button.direitaCarrosselEbooks{
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
      }
      .pg-estanteVirtual .ebooksGratis .carrosselEbooks{
        width: 90%;
        margin: 0 auto;
      }
        .pg-estanteVirtual .ebooksGratis .carrosselEbooks .item{
          padding: 0 13px;
        }
          .pg-estanteVirtual .ebooksGratis .carrosselEbooks .item a{
            text-decoration: none;
            color: #727272;
            font-style: italic;
          }
            .pg-estanteVirtual .ebooksGratis .carrosselEbooks .item a img{
              width: 100%;
              height: auto;
            }
            .pg-estanteVirtual .ebooksGratis .carrosselEbooks .item a h3.tituloEbook{
              font-size: 18px;
              text-align: left;
              font-weight: 700;
              margin-bottom: 4px;
            }
            .pg-estanteVirtual .ebooksGratis .carrosselEbooks .item a h4.autorEbook{
              font-weight: 100;
              margin-top: 3px;
            }
    .pg-estanteVirtual .downloadsDiversos{
      position: relative;
    }
      .pg-estanteVirtual .downloadsDiversos h3{
        font-family: var(--raleway);
        font-style: italic;
        color: #727272;
        font-size: 25px;
        margin: 30px 0 20px;
      }
      .pg-estanteVirtual .downloadsDiversos button{
        background: #a99a98;
        border: none;
        outline: none;
        width: 50px;
        height: 55px;
        text-align: center;
        position: absolute;
        z-index: 2;
      }
        .pg-estanteVirtual .downloadsDiversos button i{
          font-family: FontAwesome;
          font-style: normal;
          font-size: 60px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          color: #f0f0f0;
        }
      .pg-estanteVirtual .downloadsDiversos button.esquerdaCarrosselDownloads{
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
      }
      .pg-estanteVirtual .downloadsDiversos button.direitaCarrosselDownloads{
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
      }
      .pg-estanteVirtual .downloadsDiversos #carrosselDownloadsDiversos{
        width: 90%;
        margin: 0 auto;
      }
        .pg-estanteVirtual .downloadsDiversos #carrosselDownloadsDiversos .item{
              padding: 0 13px;
        }
          .pg-estanteVirtual .downloadsDiversos #carrosselDownloadsDiversos .item a{
            text-decoration: none;
            font-style: italic;
            color: #727272;
          }
            .pg-estanteVirtual .downloadsDiversos #carrosselDownloadsDiversos .item a img{
              width: 100%;
              height: auto;
            }
            .pg-estanteVirtual .downloadsDiversos #carrosselDownloadsDiversos .item a h3.tituloDownload{
              font-size: 18px;
              text-align: left;
              font-weight: 700;
              margin-bottom: 4px;
            }
            .pg-estanteVirtual .downloadsDiversos #carrosselDownloadsDiversos .item a h4.autorDownload{
              font-weight: 100;
              margin-top: 3px;
            }

/*PÁGINA CONTATO*/
  .pg-contato{}
    .pg-contato .bannerContato{
      width: 100%;
      min-height: 385px;
      background: url(../img/bannercontato.png);
      background-size: cover!important;
      background-position: center!important;
    }
    .pg-contato .descricaoContato{
      background: url(../img/fundodepoimentos.png);
      background-size: cover!important;
      width: 100%;
      min-height: 500px;
      margin-top: -67px;
      margin-bottom: -38px;
      font-family: var(--raleway);
      padding-top: 110px;
    }
      .pg-contato .descricaoContato h5.titulo{
        text-align: center;
        font-size: 41px;
        font-weight: 600;
        position: relative;
      }
      .pg-contato .descricaoContato h5.titulo:after{
        content: "";
        display: block;
        width: 215px;
        height: 2px;
        background: #309498;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        bottom: -70px;
      }
      .pg-contato .descricaoContato p{
        text-align: center;
        font-size: 30px;
        font-weight: 500;
      }
    .pg-contato .redesSociaisContato{
      margin-top: 60px;
    }
      .pg-contato .redesSociaisContato .redesSociais{}
        .pg-contato .redesSociaisContato .redesSociais ul{
          list-style: none;
          margin: 0;
          padding: 0;
          font-size: 0;
        }
          .pg-contato .redesSociaisContato .redesSociais ul li{
            display: inline-block;
            width: 50%;
            font-family: var(--robotocondensed);
          }
            .pg-contato .redesSociaisContato .redesSociais ul li a{
              text-decoration: none;
              color: #000;
              text-transform: uppercase;
            }
            .pg-contato .redesSociaisContato .redesSociais ul li a:hover > span.iconeRedeSocial{
              background: #c05674;
              box-shadow: 1px 4px 19px 1px rgba(0, 0, 0, 0.611764705882353);
            }
              .pg-contato .redesSociaisContato .redesSociais ul li a span.iconeRedeSocial{
                background: #309498;
                display: block;
                width: 120px;
                height: 120px;
                border-radius: 50%;
                margin: 0 auto;
                text-align: center;
                position: relative;
                transition: ease-in .2s;
                -webkit-transition: ease-in .2s;
                -moz-transition: ease-in .2s;
                -o-transition: ease-in .2s;
              }
                .pg-contato .redesSociaisContato .redesSociais ul li a span.iconeRedeSocial i{
                  font-style: normal;
                  font-family: FontAwesome;
                  font-size: 50px;
                  color: #fff;
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%,-50%);
                }
              .pg-contato .redesSociaisContato .redesSociais ul li a p{
                font-size: 26px;
                margin: 0;
                margin-top: 15px;
              }
              .pg-contato .redesSociaisContato .redesSociais ul li a small.linkContato{
                font-size: 17px;
                text-transform: lowercase;
                text-align: center;
                display: block;
                margin-bottom: 45px;
              }
      .pg-contato .redesSociaisContato .formularioContato{}
        .pg-contato .redesSociaisContato .formularioContato p.tituloFormulario{
          font-family: var(--raleway);
          font-weight: 600;
        }
        .pg-contato .redesSociaisContato .formularioContato span.garantiaPrivacidade{
          color: #727272;
          font-size: 19px;
          text-align: center;
          display: block;
          margin-bottom: 30px;
        }
        .pg-contato .redesSociaisContato .formularioContato .formulario{}
          .pg-contato .redesSociaisContato .formularioContato .formulario label{
            color: #727272;
            font-size: 29px;
            font-weight: 500;
            display: block;
          }
          .pg-contato .redesSociaisContato .formularioContato .formulario input{

          }
          .pg-contato .redesSociaisContato .formularioContato .formulario input[type="text"]{
            width: 100%;
            height: 45px;
            outline: none;
            display: block;
            padding: 5px 10px;
            font-style: italic;
            color: #727272;
            font-size: 16px;
            border: 1.3px solid #c05674;
            background: #f0f0f0;
          }
          .pg-contato .redesSociaisContato .formularioContato .formulario input[type="submit"]{
            outline: none;
            background: #c05674;
            color: #fff;
            font-family: var(--raleway);
            text-transform: uppercase;
            padding: 6px 26px;
            font-size: 24px;
            margin: 20px 0 45px;
            letter-spacing: 1px;
            border: 1px solid #c05674;
          }
          .pg-contato .redesSociaisContato .formularioContato .formulario input[type="submit"]:hover{
            border: 1px solid #c05674;
            color: #c05674;
            background: transparent;
            transition: ease-in .3s;
            -webkit-transition: ease-in .3s;
            -moz-transition: ease-in .3s;
            -o-transition: ease-in .3s;
          }
          .pg-contato .redesSociaisContato .formularioContato .formulario textarea{
            max-width: 100%;
            min-width: 100%;
            min-height: 100px;
            max-height: 200px;
            outline: none;
            display: block;
            padding: 5px 10px;
            font-style: italic;
            color: #727272;
            font-size: 16px;
            border: 1.3px solid #c05674;
            background: #f0f0f0;
          }

/*EXTRAS*/
  .loading{
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 11;
    top: 0;
    background: #c05674;
    overflow: hidden;
    transition: ease-in-out 1s;
  }
  .loading.green{
    background: #309498;
  }
  .loading.pink{
    background: #edd5de;
  }
  .loading.pink:before{
    color: #c05674;
  }
  .loading.pink:after{
    color: #c05674;
  }
  .loading img{
   display: block;
    width: 100%;
    max-width: 137px;
    margin: 0 auto;
    position: absolute;
    top: 40%;
    left: 46%;
    transform: translate(-50%,-50%);
    animation: slideInUp 0.7s alternate infinite ease-in-out;
    -webkit-animation: slideInUp 0.7s alternate infinite ease-in-out;
    -moz-animation: slideInUp 0.7s alternate infinite ease-in-out;
    -o-animation: slideInUp 0.7s alternate infinite ease-in-out;
  }
   .loading:before{
    content: 'Aguarde um momento';
    display: block;
    width: 100%;
    height: 200px;
    color: #fff;
    z-index: 100;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 28px;
    position: absolute;
    top: 62%;
    left: 51.5%;
    transform: translateX(-50%);
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -o-transition: all .4s;
   }
   .loading.before:before{
    top: 150%;
   }
  .loading.after:after{
    top: 62%;
    left: 51.5%;
    transform: translateX(-50%);
  }
  .loading:after{
    content: 'Estamos carregando o site';
    display: block;
    width: 100%;
    height: 200px;
    color: #fff;
    z-index: 100;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 28px;
    position: absolute;
    top: 150%;
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -o-transition: all .4s;
  }
  .loading.final:before{
    content: 'Seja bem vindo!';
    top: 62%;
    left: 51.5%;
    transform: translateX(-50%);
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -o-transition: all .4s;
  }
  body::-webkit-scrollbar{ 
    background: #fff;
    width: 5px;

  }
  body::-webkit-scrollbar-button{ 
   background: #309498;
  }
  body::-webkit-scrollbar-track{ 
    

  }
  body::-webkit-scrollbar-track-piece {
   }
  body::-webkit-scrollbar-thumb{ 
    background: #309498;
  }
  body::-webkit-scrollbar-corner       { /* 6 */ }
  body::-webkit-resizer{

  }
  @-webkit-keyframes pulseLoader {
      to {
        -webkit-transform: scale(.8, .1);
        transform: scale(.8, .1);

        opacity: .5;
      }
    }

    @keyframes pulseLoader {
      to {
        -webkit-transform: scale(.8, .1);
        transform: scale(.8, .1);

        opacity: .5;
      }
    }
    

/*@MEDIA QUERY*/
  @media(max-width: 1200px){
    .pg-inicial .postsPaginaInicial .categoriasPosts ul li h3{
      font-size: 16px;
    }
    .pg-inicial .postsPaginaInicial .categoriasPosts ul li {
      max-width: 288px;
    }
  }
  @media(max-width: 1100px){
    .pg .postHover .tituloPostHover {
      font-size: 21px;
      margin-top: 15px;
    }
    .pg .postHover .descricaoPostHover {
      margin-top: 3px;
    }
    .pg .listaDePosts .listaDePostsDireita ul li article .informacoesPost .iconePost img{
      max-width: 42px;
    }
    .pg .postHover img {
      margin-top: 1px;
    }
    .pg-depoimentos .bannerDepoimentos .fundoDepoimentos {
      width: 130%;
      height: 200%;
      top: -368px;
      left: -130px;
    }
    .pg-depoimentos .depoimentos{
      margin-top: -130px;
    }
    .pg-depoimentos .bannerDepoimentos h2{
      bottom: -55%;
    }
    .loading img{
      left: 44.7%;
    }
    .loading.final:before{
      left: 52.5%;
    }
    .pg-inicial .postsPaginaInicial .categoriasPosts ul li {
      max-width: 263px;
    }
  }

  @media(max-width: 991px){
    .pg-inicial .instagramFeed a {
      max-width: 180px;
      height: 180px;
    }
    .pg .listaDePosts .postsDestaqueEsquerda ul li{
      display: inline-block;
      width: 50%;
    }
    .pg .listaDePosts .postsDestaqueEsquerda ul li article .imagemPostDestaque{
      min-height: 550px;
    }
    .pg .postsDestaqueEsquerda .postHover .dataPostHover{
      margin-top: 25px;
    }
    .pg .postsDestaqueEsquerda .postHover .tituloPostHover{
      margin: 17px 0;
      font-size: 26px;
    }
    .pg .postHover{
      padding: 0 10px;
    }
    .pg .postsDestaqueEsquerda .postHover .descricaoPostHover {
      font-size: 17px;
      margin-bottom: 26px;
    }
    .pg .postsDestaqueEsquerda .postHover img {
      max-width: 83px;
    }
    .pg .postHover .dataPostHover{
      margin-top: 47px;
    }
    .pg-inicial .instagramFeed h2:before,.pg-inicial .instagramFeed h2:after,.rodape .videoYoutube span:after,.rodape .videoYoutube span:before{
      width: 20%;
    }
    .pg-inicial .instagramFeed h2{
      font-size: 26px;
    }
    .rodape .redesSociais ul li{
      margin: 5px 0;
    }
    .rodape .sobreTatiRodape .descricaoTati p{
      font-size: 14.5px;
    }
    .pg-busca .resultadosBusca .postsEncontrados ul li{
      width: 50%;
    }
    .pg-busca .resultadosBusca h3,.pg-categoria .postsCategoria h3{
      font-size: 29px;
      margin-bottom: 60px;
      margin-top: 40px;
    }
    .pg-busca .resultadosBusca h3:before,.pg-categoria .postsCategoria h3:before {
      max-width: 150px;
      height: 3px;
    }
    .pg-busca .resultadosBusca h3:after,.pg-categoria .postsCategoria h3:after {
      max-width: 75px;
      height: 1.5px;
    }
    .pg .sidebarPost span{
      background: #fff;
    }
    .pg .sidebarPost{
      max-width: 400px;
      margin: 0 auto;
      padding-bottom: 30px;
    }
    .pg-404 a.voltarHome{
     font-size: 19px;
     padding: 15px 28px;
    }
    .pg-depoimentos .bannerDepoimentos h2 {
      font-size: 60px;
      bottom: -50%;
      padding: 0 14px;
    }
    .pg-depoimentos .depoimentos h3 {
      font-size: 34px;
    }
    .pg-depoimentos .depoimentos h6 {
      font-size: 18px;
    }
    .pg-contato .descricaoContato{
      margin-top: -79px;
    }
    .pg-contato .descricaoContato h5.titulo{
      font-size: 33px;
    }
    .pg-contato .descricaoContato p{
      font-size: 24px;
    }
    .pg-contato .redesSociaisContato .redesSociais ul li a span.iconeRedeSocial{
      width: 80px;
      height: 80px;
    }
    .pg-contato .redesSociaisContato .redesSociais ul li a span.iconeRedeSocial i{
      font-size: 30px;
    }
    .pg-contato .redesSociaisContato .formularioContato span.garantiaPrivacidade,.pg-contato .redesSociaisContato .redesSociais ul li a small.linkContato{
      font-size: 14px;
    }
    .pg-contato .redesSociaisContato .formularioContato .formulario label,.pg-contato .redesSociaisContato .redesSociais ul li a p{
      font-size: 24px;
    }
    .rodape .sobreTatiRodape .descricaoTati p{
      text-align: left;
    }
    .loading img {
      left: 43.7%;
    }
    .pg-inicial .postsPaginaInicial .categoriasPosts ul li {
      max-width: 236px;
    }
  }
  @media(max-width: 768px){
    .pg-inicial .instagramFeed a {
      max-width: 135px;
      height: 135px;
    }
    .pg-inicial .postsPaginaInicial .abrirMenuCategorias {
      display: block;
    }
    .pg-inicial .postsPaginaInicial .categoriasPosts {
      display: none;
    }
    .pg .listaDePosts .postsDestaqueEsquerda ul li{
      width: 100%;
    }
    .pg .listaDePosts .postsDestaqueEsquerda ul li article .imagemPostDestaque {
      min-height: 435px;
    }
    .pg .listaDePosts .postsDestaqueEsquerda ul li article .imagemPostDestaque img{
      max-width: 300px;
    }
    .pg .listaDePosts .postsDestaqueEsquerda ul li article .informacoesPostDestaque .detalhesPostDestaque h1.tituloPostDestaque{
      font-size: 16px;
    }
    .pg .listaDePosts .postsDestaqueEsquerda ul li article .informacoesPostDestaque .detalhesPostDestaque h4.dataPostDestaque{
      font-size: 11px;
      margin-top: 5px;
      margin-bottom: 8px;
    }
    .pg .listaDePosts .postsDestaqueEsquerda ul li article .informacoesPostDestaque .iconePostDestaque{
     top: 49px;
     left: 56%;
    }
    .pg .listaDePosts .postsDestaqueEsquerda ul li article .informacoesPostDestaque .detalhesPostDestaque p.descricaoPostDestaque {
      font-size: 12px;
    }
    .pg .listaDePosts .postsDestaqueEsquerda ul li article .informacoesPostDestaque .iconePostDestaque img{
      max-width: 60px;
    }
    .pg .postsDestaqueEsquerda .postHover .dataPostHover {
      margin-top: 13px;
      font-size: 17px;
    }
    .pg .postsDestaqueEsquerda .postHover .tituloPostHover {
      margin: 17px 0;
      font-size: 21px;
    }
    .pg .postsDestaqueEsquerda .postHover .descricaoPostHover {
      font-size: 14px;
    }
    .pg-inicial .postsPaginaInicial .categoriasPosts ul li h3{
      font-size: 14px;
    }
    .pg {
      padding-top: 41px;
    }
    .pg-inicial .carrosselDestaque button.carrosselDestaqueEsquerda{
      left: 20px;
    }
    .pg-inicial .carrosselDestaque button.carrosselDestaqueDireita{
      right: 20px;
    }
    .pg-inicial .carrosselDestaque button{
      width: 40px;
      height: 40px;
    }
    .pg-inicial .carrosselDestaque .owl-dot span{
      width: 15px;
      height: 15px;
    }
    .pg-inicial .instagramFeed h2{
      font-size: 23px;
    }
    .rodape{
      text-align: center;
    }
    .topo .navbar button{
      display: block;
      right: 0;
      margin: 0;
      top: -38px;
    }
    .topo .navbar button span.icon-bar {
      background: #309498;
      height: 1.5px;
    }
    .topo .navbar .navbar-header .navbar-collapse .navbar-nav li{
      display: block;
      text-align: left;
    }
    .topo .navbar .navbar-header .navbar-collapse .navbar-nav{
      margin: 0;
    }
    .topo a img{
      margin-top: 0;
    }
    .topo .navbar .navbar-header .navbar-collapse .navbar-nav li a{
      padding: 10px 15px;
      font-size: 13px;
    }
    .pg-post .conteudoPost .tituloPost h1{
      font-size: 23px;
    }
    .pg-post .conteudoPost .tituloPost h3.dataPost{
      font-size: 18px;
      margin-bottom: 5px;
    }
    .pg-post .conteudoPost p{
      font-size: 16px;
    }
    .pg .sidebarPost {
      max-width: 300px;
      margin: 0 auto;
      padding-bottom: 30px;
    }
    .pg-post .conteudoPost .bannerPost {
      margin-bottom: 3px;
    }
    .pg .breadcrumbs ul li{
      font-size: 14px;
    }
    .pg-categoria .newsLetter h4{
      font-size: 23px;
    }
    .pg-categoria .newsLetter p {
      font-size: 17px;
    }
    .pg-categoria .newsLetter input[type="text"]{
      max-width: 304px;
      padding: 5px 15px;
      font-size: 14px;
    }
    .pg-categoria .newsLetter input[type="submit"]{
      padding: 6px 40px;
      font-size: 14px;
    }
    .pg-categoria .listaDePosts .verMaisPosts span.vermais{
      padding: 7px 23px;
      font-size: 14px;
    }
    .pg-inicial .listaDePosts .verMaisPosts span.vermais{
      padding: 7px 23px;
      font-size: 14px;
    }
    .pg-categoria .bannerCategoria h2.nomeCategoria{
      bottom: 34%;
      font-size: var(--fontebanner768);
    }
    .pg-categoria .bannerCategoria{
       min-height: 268px;
    }
    .pg-busca .resultadosBusca .postsEncontrados ul{
      text-align: center;
    }
    .pg-busca .resultadosBusca .postsEncontrados ul li{
      width: 100%;
    }
    .pg-busca .resultadosBusca h3,.pg-categoria .postsCategoria h3 {
      font-size: 23px;
      padding: 0 10px;
    }
    .pg-sobre .conteudoSobre h2.titulo{
      font-size: 32px;
    }
    .pg-sobre .conteudoSobre p{
      font-size: 18px;
    }
    .pg-sobre .entreEmContato p{
      font-size: 24px;
    }
    .pg-404 a.voltarHome {
      font-size: 15px;
      padding: 15px 28px;
      bottom: 46%;
    }
    .pg-inscricao .descricaoCurso{
      padding: 140px 15px 0 15px;
    }
    .pg-inscricao .bannerInscricao{
      min-height: 300px;
    }
    .pg-depoimentos .bannerDepoimentos h2{
      font-size: 40px;
      bottom: -56%;
    }
    .pg-depoimentos .bannerDepoimentos .fundoDepoimentos {
      width: 170%;
      height: 217%;
      left: -137px;
    }
    .pg-contato .redesSociaisContato .formularioContato .formulario input[type="submit"]{
      font-size: 20px;
    }
    .loading img {
      left: 41.1%;
    }
  }
  @media(max-width: 610px){
    .pg-inicial .instagramFeed a {
      max-width: 112px;
      height: 112px;
    }
    .pg .listaDePosts .listaDePostsDireita ul li{
      width: 100%;
      max-width: 100%;
    }
    .pg .postHover .dataPostHover,.pg .postsDestaqueEsquerda .postHover .dataPostHover{
      margin-top: 106px;
      font-size: 13px;
    }
    .pg .listaDePosts .listaDePostsDireita ul li article .informacoesPost .iconePost img{
      top: 23px;
      left: 41px;
    }
    .pg .postsDestaqueEsquerda .postHover img {
      max-width: 50px;
    }
    .pg .listaDePosts .postsDestaqueEsquerda ul li article .imagemPostDestaque {
      min-height: 387px;
    }
    .pg .postHover img {
      margin-top: 15px;
    }
    .pg-inicial .postsPaginaInicial .categoriasPosts ul li{
      display: block;
    }
    .pg-inicial .carrosselDestaque button{
      display: none;
    }
    .pg-inicial .instagramFeed h2:before,.pg-inicial .instagramFeed h2:after{
      width: 15%;
    }
    .pg-inicial .instagramFeed h2 {
      font-size: 20px;
    }
    .pg-post .conteudoPost .bannerPost img{
      margin: 8px 0;
    }
    .pg-post .conteudoPost .tituloPost h1 {
      font-size: 18px;
    }
    .pg-post .conteudoPost .tituloPost h3.dataPost {
      font-size: 13px;
    }
    .pg-sobre .conteudoSobre p{
      font-size: 17px;
    }
    .pg-404 a.voltarHome {
      font-size: 15px;
      padding: 8px 17px;
      bottom: 52%;
      min-height: 0;
      border: 2px solid #fff;
    }
    .pg-inscricao .descricaoCurso h2.titulo{
      font-size: 40px;
    }
    .pg-inscricao .descricaoCurso h3.subtitulo {
      font-size: 24px;
    }
    .pg-inscricao .descricaoCurso p {
      font-size: 16px;
    }
    .pg-inscricao .descricaoCurso .formularioInscricao label {
      font-size: 25px;
    }
    .pg-inscricao .descricaoCurso .formularioInscricao input[type="submit"]{
      font-size: 20px;
    }
    .pg-inscricao .descricaoCurso .formularioInscricao input[type="text"]{
      width: 100%;
      font-size: 13px;
    }
    .pg-inscricao .bannerInscricao h2.titulo{
      bottom: 50%;
      font-size: 50px;
    }
    .pg-depoimentos .bannerDepoimentos .fundoDepoimentos{
      width: 200%;
    }
    .pg-depoimentos .depoimentos .textoDepoimentos h1.tituloDepoimento{
      font-size: 34px;
    }
    .pg-depoimentos .depoimentos .textoDepoimentos p.conteudoDepoimento{
      font-size: 16px;
    }
    .pg-contato .bannerContato{
      min-height: 244px;
    }
    .pg-contato .descricaoContato h5.titulo {
      font-size: 30px;
    }
    .loading img {
      left: 39%;
    }
  }
  @media(max-width: 520px){
    .pg-inicial .instagramFeed a {
      max-width: 180px;
      height: 180px;
    }
    .pg .postHover .dataPostHover, .pg .postsDestaqueEsquerda .postHover .dataPostHover {
      margin-top: 62px;
      font-size: 13px;
    }
    .pg-inicial .instagramFeed h2 {
      font-size: 18px;
    }
    .pg-categoria .newsLetter input[type="text"] {
      max-width: 280px;
      font-size: 13px;
    }
    .pg-categoria .newsLetter input[type="submit"]{
      font-size: 13px;  
    }
    .pg-categoria .newsLetter h4 {
      font-size: 20px;
    }
    .pg-categoria .newsLetter p {
      font-size: 15px;
    }
    .pg-sobre .carrosselSobre:before{
      max-width: 120px;
    }
    .pg-404 a.voltarHome{
      bottom: 59%;
    }
    .pg-depoimentos .bannerDepoimentos h2 {
      font-size: 36px;
      bottom: -54%;
    }
    .pg-depoimentos .depoimentos {
      margin-top: -160px;
    }
    .pg-depoimentos .bannerDepoimentos .fundoDepoimentos{
      height: 204%;
    }
    .loading img {
      left: 37%;
    }
  }
  
  @media(max-width: 445px){
    .pg .postHover .dataPostHover, .pg .postsDestaqueEsquerda .postHover .dataPostHover {
      margin-top: 37px;
    }
    .pg .listaDePosts .postsDestaqueEsquerda ul li article .informacoesPostDestaque .iconePostDestaque img {
      max-width: 50px;
    }
    .pg .listaDePosts .postsDestaqueEsquerda ul li article .informacoesPostDestaque .iconePostDestaque {
      top: 67px;
      left: 56%;
    }
    .pg .listaDePosts .listaDePostsDireita ul li article .informacoesPost .iconePost   {
      top: 38px;
      left: 29px;
    }
    .pg-inicial .instagramFeed h2 {
      font-size: 15px;
    }
    .pg-categoria .newsLetter input[type="submit"]{
      margin-top: 10px;
    }
    .pg-404 a.voltarHome{
      bottom: 64%;
    }
    .pg-depoimentos .bannerDepoimentos .fundoDepoimentos {
      height: 254%;
      width: 280%;
      left: -417px;
      top: -522px;
    }
    .pg-contato .descricaoContato h5.titulo {
      font-size: 26px;
    }
    .pg .listaDePosts .listaDePostsDireita ul li article .informacoesPost .iconePost img {
      top: 6px;
      left: 8px;
    }
  }
  @media(max-width: 425px){
    .pg-inicial .instagramFeed a {
      max-width: 130px;
      height: 130px;
    }
    .pg-categoria .newsLetter{
      padding: 0 10px;
    }
    .pg-sobre .carrosselSobre:before{
      max-width: 99px;
      height: 38px;
      bottom: -18px;
    }
    .pg-404 a.voltarHome {
      padding: 8px 12px;
      bottom: 67%;
    }
    .pg-inscricao .descricaoCurso p a {
      font-size: 13px;
    }
    .pg-depoimentos .bannerDepoimentos h2 {
      bottom: -44%;
    }
    .loading img {
      left: 34.5%;
    }
  }

  @media(max-width: 320px){
  
  }

.containerFull{
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 10px;
}